input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://static.runoob.com/images/mix/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

input[type=submit]{
	display:none;
}

.sortByScore a{
	display:block;
	width:50px;
	height:20px;
	border:1px solid #CCC;
	background:#FFF;
	text-align:center;
	line-height:20px;
	color:#000;
}
.sortByScore a:link{
	text-decoration:none;
}
